<input type="checkbox" id="nav_toggle_cb">
<header class="flex colum">
    <div class="container flex align-center">
        <div id="nav_head">
            <a href="/" id="title-link">
                <h1 class="title">The Infinity Glitch</h1>
            </a>
            <div class="mobile links">
                <label for="nav_toggle_cb" id="nav_toggle_btn">
                    <img src="/assets/icons/hamburger.svg" width="24" height="24" alt="Main menu">
                </label>
            </div>
        </div>

        <nav id="nav">
            <ul class="left">
                <li><a href="/blog/">{% t header.blog %}</a></li>
                <li><a href="/projects/">{% t header.projects %}</a></li>
                <li><a href="/about/">{% t header.about %}</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>